@import "../../../sass/abstracts.scss";

.home-perks {
  position: relative;
  width: 100%;
  height: 100%;

  $card-width: 16rem;
  $card-height: 14rem;
  $card-radius: 5rem;

  &__card {
    color: $color-white;
    width: $card-width;
    height: $card-height;
    border-radius: $card-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__header,
      &__title {
        font-size: 2.4rem;
        z-index: 1;
        letter-spacing: 0.3rem;
      }

      &__title {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        font-weight: 600;
      }
    }
  }

  .purple-card {
    background-color: $color-purple-op-80;
    position: absolute;
    left: 15%;
    top: 5%;

    &:after {
      width: 105%;
      height: 105%;
      border-radius: $card-radius;
      content: "";
      position: absolute;
      top: 0;
      transform: rotate(-25deg);
      background-color: $color-purple-op-50;
    }
  }

  .orange-card {
    background-color: $color-orange-op-80;
    position: absolute;
    top: 35%;
    right: 15%;

    &:after {
      width: 105%;
      height: 105%;
      border-radius: $card-radius;
      content: "";
      position: absolute;
      top: 0;
      transform: rotate(-25deg);
      background-color: $color-orange-op-50;
    }
  }
}
