@import '../../sass/abstracts.scss';

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  &__content {
    font-size: 5rem;
    font-weight: 800;
    height: 50rem;
    width: 80rem;
    background: linear-gradient(to right, rgb(161, 128, 189) 0%, rgb(6, 134, 242) 100%);
  }
}
