@import '../../sass/abstracts.scss';

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;

  &__bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    animation:
      scaleDown 2.5s forwards,
      blurDown 2s forwards;
  }

  &__content {
    font-size: 5rem;
    position: absolute;
    font-weight: 800;
  }
}
