@import "../../../sass/abstracts.scss";

.home-details {
  padding: 10rem 0;
  &__container {
    &__section {
      margin-bottom: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &.odd {
        flex-direction: row-reverse;
      }

      &__header {
        flex: 1;
        color: $color-grey;
        font-size: 1.8rem;
        letter-spacing: 0.032rem;
        text-transform: capitalize;
        margin: 0 2rem;
      }

      &__img {
        flex: 2;
        max-width: 70%;
        border: solid 1rem #6a91ff;
        border-radius: 2rem;
        box-shadow: inset 0 0 5rem $color-primary, inset 0 0 5rem $color-primary,
          inset 0 0 5rem $color-primary;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .home-details {
    padding: 0;
  }
}
