@import '../../sass/abstracts.scss';

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;

  &__bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    animation:
      scaleDown 2.5s forwards,
      blurDown 2s forwards;
  }

  &__wrapper {
    height: 50rem;
    width: 80rem;
    position: absolute;
    animation: slideDown 1.5s forwards;
    background: $color-black-op-80;
    box-shadow: 0 0 5px $color-black;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .left-collapse {
      margin-left: -50%;
      transition: margin 0.4s ease-in-out;
    }

    .right-collapse {
      margin-right: -50%;
      transition: margin 0.4s ease-in-out;
    }

    .login-box {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      background: $color-grey-dark;
      color: $color-white;
      transition: margin 0.4s ease-in-out;

      &__content {
        width: 100%;
        padding: 2rem 5rem;

        &__header {
          font-size: 5rem;
          padding: 0 1.3rem;
        }

        &__input-section {
          margin-top: 5rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          input, button {
            margin-top: 2rem;
            width: 25rem;
          }
        }
      }
    }

    .login-oauth {
      position: relative;
      height: 100%;
      width: 50%;
      transition: margin 0.4s ease-in-out;
    }
  }
}
